body, html {
    height: 100%;
}

.editor {
    height: 100%;
}

.nav {
    margin: 12px;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.navactions {
    padding-right: 40%;
}

.navbrand {
    padding-left: 2%;
}

.col {
    margin: 0px;
}

.col-3 {
    padding: 2% 0 2% 3%;
}

.codeblock {
    position: relative;
}

.run-snippet {
    color: white !important;
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    border-bottom: 1px solid #d4d4d4;
    font-size: 0.7em;
    z-index: 1;
}

.run-snippet:hover {
    border-bottom-color: #a1a1a1;
    cursor: pointer;
}

.sidebar {
    display: none;
}

/* The console container element */
#console {
    position: absolute;
    width: 95%;
    height: 100%;
    background-color:black;
}
/* The inner console element. */
.jqconsole {
    padding: 10px;
}
/* The cursor. */
.jqconsole-cursor {
    background-color: gray;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: #666;
}
/* The current prompt text color */
.jqconsole-prompt {
    color: #0d0;
}
/* The command history */
.jqconsole-old-prompt {
    color: #0b0;
    font-weight: normal;
}
/* The text color when in input mode. */
.jqconsole-input {
    color: #dd0;
}
/* Previously entered input. */
.jqconsole-old-input {
    color: #bb0;
    font-weight: normal;
}
/* The text color of the output. */
.jqconsole-output {
    color: white;
}
